<a href="https://colab.research.google.com/github/mburschtin/GA-Python-/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# first find out where we are 

!ls

movies_rated.csv  sample_data

In [3]:
import pandas as pd

# first 5 rows

omdb_df = pd.read_csv('movies_rated.csv')
print(omdb_df.head())

                      title  year  ... Rotten Tomatoes Metacritic
0  The Shawshank Redemption  1994  ...             9.1        8.0
1             The Godfather  1972  ...             9.8       10.0
2           The Dark Knight  2008  ...             9.4        8.2
3    The Godfather: Part II  1974  ...             9.7        9.0
4              Pulp Fiction  1994  ...             9.4        9.4

[5 rows x 9 columns]

In [4]:
# num rows and columns
omdb_df.shape

(79, 9)

In [5]:
# print column names

omdb_df.columns

Index(['title', 'year', 'content_rating', 'genre', 'duration', 'gross',
       'Internet Movie Database', 'Rotten Tomatoes', 'Metacritic'],
      dtype='object')

In [7]:
# print column datatypes

omdb_df.dtypes

title                       object
year                         int64
content_rating              object
genre                       object
duration                     int64
gross                        int64
Internet Movie Database    float64
Rotten Tomatoes            float64
Metacritic                 float64
dtype: object

In [8]:
# how many unique genres are available in the data set?

omdb_df["genre"].nunique()

12

In [9]:
# how many movies are available per genre?

omdb_df["genre"].value_counts()

Crime                  16
Drama                  14
Action                 11
Adventure               9
Drama                   7
Animation               5
Biography               5
Comedy                  4
Western                 3
Mystery                 2
Horror                  2
Comedy                  1
Name: genre, dtype: int64

In [11]:
# how many movies are available per genre? OTHER WAY

omdb_df[["genre", "title"]].groupby("genre").count()

                     title
genre
Action                  11
Adventure                9
Animation                5
Biography                5
Comedy                   4
Comedy                   1
Crime                   16
Drama                   14
Drama                    7
Horror                   2
Mystery                  2
Western                  3

In [13]:
# what are the top 5 R-rated moves?

omdb_df[omdb_df["content_rating"] == "R"].sort_values(by="Internet Movie Database"), ascending=False.head()

SyntaxError: ignored

In [14]:
# average rotten tomatoes scores for all available films

omdb_df["Rotten Tomatoes"].mean()

9.087341772151895